@font-face {
  font-family: 'Raleway';
  src: url('Raleway-Medium.eot'); /* IE9 Compat Modes */
  src: url('Raleway-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Raleway-Medium.woff') format('woff'), /* Modern Browsers */
       url('Raleway-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Raleway-Medium.svg#830a31480c633d9fd527c9f94e12f322') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

